
//todolist

.todolist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px auto auto auto;
  gap: 25px;
  padding: 10px;
}

//todolist_header

.todolist_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .header_title {
    color: rgb(44, 130, 213);
    text-transform: uppercase;
    letter-spacing: .1rem;
    word-break: break-word;
  }
}

