.input {
  outline: none;
  width: 100%;
  height: 150px;
  resize: none;
  font-family: inherit;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
  background: inherit;


  &:focus {
    border: transparent solid 1px;
  }
}
span{

}