h3 {
  color: rgb(44, 130, 213);
  text-decoration: underline;
}

.btn {
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  background-color: rgb(180, 180, 180);
  border-style: none;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: rgb(44, 130, 213);
  }
}

//todolist

.todolist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: auto auto auto auto;
  gap: 10px;
  max-width: 500px;
  width: 100%;
  padding: 10px;
  border-radius: .3rem;
  border: #bebebe 1px solid;
  background: #e0e0e0;
  box-shadow: 20px 20px 60px #bebebe,
  -20px -20px 60px #ffffff;
}

//todolist_header

.todolist_header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  //border: gray 1px solid;

}
.btn_header{
  border-radius: 50%;
}

// todolist_input

.todolist_input {
  display: flex;
  border: transparent solid 1px;

}

.input {
  border-bottom-left-radius: .3rem;
  border-top-left-radius: .3rem;
  width: 100%;
  padding: 10px;
  border: transparent solid 1px;
  outline: none;

  &:focus {
    border: rgb(44, 130, 213) solid 1px;
  }

}

.btn_input {
  border-bottom-right-radius: .3rem;
  border-top-right-radius: .3rem;
}

// todolist_filter

.todolist_filter {
  display: flex;
  justify-content: end;
  gap: 5px;
  //border: gray 1px solid;
}

.btn_filter {
  border-radius: .3rem;
}
// todolist_tasks

.todolist_tasks {
  //border:1px solid black;
  //min-height: 100px;
}

.task_item:not(:last-child) {
  margin-bottom: 10px;
}

.task_item {
  display: flex;
  align-items: center;
  list-style: none;
  padding: 0 5px;
  font-size: .9rem;
  border-radius: .3rem;
  border: #bebebe .3px solid;
  background: #ffffff;
  box-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.062),
  0.3px 0.3px 0.3px rgba(0, 0, 0, 0.089),
  0.6px 0.6px 0.5px rgba(0, 0, 0, 0.11),
  1.1px 1.1px 0.9px rgba(0, 0, 0, 0.131),
  2.1px 2.1px 1.7px rgba(0, 0, 0, 0.158),
  5px 5px 4px rgba(0, 0, 0, 0.22);


  & input {
    //cursor: pointer;
  }

  & label {

    width: 100%;
    cursor: pointer;
    display: block;
    padding: 10px;
  }

  & span {
    margin-left: 10px;
    display: inline-block;
  }
}

.btn_remove {
  margin-left: auto;
  border-radius: 50%;
}
.task_isDone{
  opacity: 0.5;
  text-decoration: line-through;
}

.error {
  border: #e04949 1px solid;

  &:focus {
    border: red solid 1px;
  }
}

.error_message {
  color: red;
}


.active_filter {
  background-color: rgb(44, 130, 213);
}