
//todolist

.todolist {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 25px auto auto auto;
  gap: 25px;
  padding: 10px;
}

//todolist_header

.todolist_header {
  display: flex;
  align-items: center;
  justify-content: space-between;

  & .header_title {
    color: rgb(44, 130, 213);
    text-transform: uppercase;
    letter-spacing: .1rem;
  }
}

// todolist_input

.todolist_input {
 // border: gray 1px solid;
}
// todolist_filter

.todolist_filter{
  margin-bottom: 20px;
}

// todolist_tasks

.todolist_tasks {
  //border:1px solid black;
}

.task_item:not(:last-child) {
  margin-bottom: 25px;
}

.task_item {
  position: relative;
  display: flex;
  align-items: start;
  list-style: none;
  padding: 38px 15px;
  font-size: .9rem;
  border-radius: .3rem;
  border: #bebebe .3px solid;
  background: #ffffff;
  user-select: none;
  word-break: break-word;
  box-shadow: 0.1px 0.1px 0.1px rgba(0, 0, 0, 0.062),
    0.3px 0.3px 0.3px rgba(0, 0, 0, 0.089),
    0.6px 0.6px 0.5px rgba(0, 0, 0, 0.11),
    1.1px 1.1px 0.9px rgba(0, 0, 0, 0.131),
    2.1px 2.1px 1.7px rgba(0, 0, 0, 0.158),
    5px 5px 4px rgba(0, 0, 0, 0.22);
  width: 100%;

  & label {
    width: 100%;
    cursor: pointer;
  }

  & span {
    padding: 0 5px;
    display: inline-block;
  }
}

.task_isDone span {
  opacity: 0.5;
  text-decoration: line-through;

}
.item_btn_container{
  position: absolute;
  right: 10px;
  top: 5px;
  display: flex;
  gap: 10px;
}
