
.header_title {
  font-size: 2.5rem;
  font-weight: 800;
  text-transform: uppercase;
  letter-spacing: .15rem;
  color: rgb(88, 88, 88);
  margin-bottom: 5px;
  span{
    color: rgba(13, 126, 201, 0.808);
  }
}


