.App {
  padding: 30px;
  display: flex;
  flex-wrap: wrap;
}

.App > div {
  margin-right: 50px;
}
.btn{
  padding: 5px 10px;
  background-color: rgb(35, 173, 236);
  border-style: none;
  border-radius: .3rem;
  cursor: pointer;
  transition: all .3s;
}
.btn:hover{
  filter: brightness(110%);
  color: #fff;
}
.block__buttons-input{
  display: flex;
  gap: 5px;
}
.button__input{

}