
.btn {
  padding: 5px 10px;
  color: #fff;
  font-size: 14px;
  background-color: rgb(180, 180, 180);
  border-style: none;
  cursor: pointer;
  transition: all .3s;

  &:hover {
    background-color: rgb(44, 130, 213);
  }
}

// todolist_input

.text_field {
  display: flex;
  width: 100%;
}

.text_field > span {
  display: block;
}

.text_field__input {
  border-bottom-left-radius: .3rem;
  border-top-left-radius: .3rem;
  width: 100%;
  padding: 15px 5px;
  border: transparent solid 1px;
  outline: none;
  position: relative;
  transition: all .5s ease;


  &:focus {
    border: rgb(44, 130, 213) solid 1px;
  }
}

.text_field__input .text_field__label {
  position: absolute;
  top: 0;
  left: 0;
}

.btn_input {
  border-bottom-right-radius: .3rem;
  border-top-right-radius: .3rem;
}

.error {
  border: red 1px solid;

  &:focus {
    border: red solid 1px;
  }
}

.error_message {
  //color: gray;
}

.active_filter {
  background-color: rgb(44, 130, 213);
}